body {
  
    align-content:space-around;
    background-color:#545f5f;
    color:#FBF5F3;
    display:grid;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
  
  }

#game {
    border:10px solid black;
}