body{
    font-family: "Lato", Helvetica, sans-serif;
    color:#eee;
    background: #35363a;
    font-weight: 100; 
    z-index: 1;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
a{
    color:white;
}
#log{
    border-radius: 10px;
    border-color: #222;
}
#download-egg:hover{
    text-shadow: #03fce7;
}
/*navbar for users*/
#user{
    overflow: hidden;
    background-color: #35363a;
    border-color:black;
}
#user a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div{
    text-align: center;
    align-items: center;
}
form{
    text-align: center;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.stick + .content{
    padding-top: 60px;
}
@keyframes zorder{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#z-order-form{
    z-index: 0;
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    opacity: 0;
}
nav ul {
    background-color: #35363a;
    border-radius: 3px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.notification {
    width: 40px;
    height: 40px;
}